<div class="container mt-3">
  <form
    *ngIf="customersSearchformGroup"
    [formGroup]="customersSearchformGroup"
    (ngSubmit)="searchCustomers()"
  >

    <div class="input-group mb-3">
      <input
        formControlName="searchKeyword"
        type="text"
        class="form-control"
        placeholder="Search with a keyword"
        aria-label="Search with a keyword"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-outline-secondary"
        type="submit"
        id="button-addon2"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>

  <ng-container *ngIf="customers$ | async; else loadingOrErrorAlert">
    <app-alert-component
      *ngIf="savedCustomerName"
      [alertMessage]="savingCustomerMessage"
      [alertType]="alertType"
    ></app-alert-component>
    <app-customerstable
      [customersList]="customers$ | async"
      [errorObj]="errorObj"
      [deleteCustomer]="deleteCustomer"
      [customers$]="customers$"
    ></app-customerstable>
  </ng-container>

  <ng-template #loadingOrErrorAlert>
    <ng-container *ngIf="errorObj; else loading">
      <app-alert-component [alertMessage]="errorMsg"></app-alert-component>
    </ng-container>
    <ng-template #loading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </ng-template>
</div>


