<div class="card mt-5 mb-5">
  <div class="card-header">
    <h2>Customers list</h2>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let customer of customersList">
        <tr>
          <th scope="row">{{ customer.id }}</th>
          <td>{{ customer.name | uppercase }}</td>
          <!-- pipe-->
          <td>{{ customer.email }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteCustomer(customer)">
              <i class="bi bi-trash"></i>
            </button>
            <button class="btn btn-primary">
              <i class="bi bi-clipboard2-x"></i>
            </button>
            <button
              class="btn btn-info"
              (click)="handleCustomerAccountsList(customer.id)"
            >
              <i class="bi bi-file-person"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
